*{
	box-sizing: border-box;
}

.contenedor{
	width: 1200px;
	margin:0 auto;
}
.header-site{
	background-color: #101010;
	color: white;

}
body{
	font-family: arial;
}
.logo-site{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;

}
.nav-site{
	display: inline-block;
	vertical-align: top;
}
.nav-site ul li{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.activo{
	background-color: red;
}
.formulario{
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-left: 680px;
}


.formulario .texto-busqueda{
	font-size: 13px;
	padding: 5px;
}
.formulario .btn-enviar{
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
}


.bloque-principal{
	background-color: yellowgreen;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.bloque-principal .title{
	font-size: 50px;
	margin-bottom: 15px;
}
.bloque-principal .detail{
	font-size: 20px;
	margin-bottom: 20px;
}

.bloque-principal .btn-more{
	background-color: #337ab7;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
	border-radius: 10px;
	/*transition:all 0.2s linear ;*/
}


.bloque-principal .btn-more:hover{
background-color: white;
color:  #337ab7;

}


.bloque-colaboracion{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.bloque-colaboracion .title{
	font-size: 30px;
	margin-bottom: 10px;

}

.bloque-colaboracion .title small{
	font-size: 23px;
	color: #777;
}

.bloque-colaboracion .detail{
	margin-bottom: 25px;
	line-height: 1.4;
}

.bloque-colaboracion .item{
width: 300px;
display: inline-block;
vertical-align: top;
margin:20px;
}




.bloque-colaboracion .item h3{
	font-size: 25px;
	font-weight: bold;
	color: blue;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bloque-colaboracion .item p{
	font-size: 14px;
	color: #777;
	line-height: 1.4
}


.bloque-final .item{
	width: 300px;

	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	margin:20px;

}
.img-cicurlo{
	border-radius: 50%;
}
.bloque-final{
	background-color: goldenrod;
	padding-top: 70px;
	padding-bottom: 70px;
	
	text-align: center;
}

.bloque-final h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bloque-final p{
	font-size: 14px;
	line-height: 1.4;

}

.bloque-final .item .btn{
	text-decoration: none;
	color: black;
	background-color: #ccc;
	padding: 10px 15px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;


}
.footer-site{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.lista-enlaces-footer li{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
}

.lista-enlaces-footer{margin-bottom: 10px;}


