.box1{
	width: 208px;
	height: 186px;
	background-color: red;
	-webkit-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg); 
	display: inline-block;
	vertical-align: top;
}

.box2{
	width: 208px;
	height: 186px;
	background-color: red;
	-webkit-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg); 
	display: inline-block;
	vertical-align: top;
}
.box3:hover{
-webkit-transform: rotateX(360deg);
transform: rotateX(360deg);
}
.box3{
	width: 208px;
	height: 186px;
	-webkit-transition:all 1s linear;
	-o-transition:all 1s linear;
	transition:all 1s linear;
}

.box4{
	width: 208px;
	height: 186px;
	-webkit-transition:all 1s linear;
	-o-transition:all 1s linear;
	transition:all 1s linear;
}
.box4:hover{
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.foto{
	width: 208px;
	margin:300px;
	-webkit-transition:all 1s linear;
	-o-transition:all 1s linear;
	transition:all 1s linear;
}
.foto:hover{
	-webkit-transform: scale(1.5)	rotate(-90deg);
	-ms-transform: scale(1.5)	rotate(-90deg);
	transform: scale(1.5)	rotate(-90deg)	
}
.caja-traslado:hover{
	-webkit-transform: translate(100px,80px);
	-ms-transform: translate(100px,80px);
	transform: translate(100px,80px);
}
.caja-traslado{
	width: 100px;
	height: 100px;
	background-color: blue;
		-webkit-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;

}


.box-skew{
	width: 100px;
	height: 100px;
	background-color: red;
			-webkit-transition:all 0.2s linear;
			-o-transition:all 0.2s linear;
			transition:all 0.2s linear;
}
/*
.box-skew:hover{
	transform: skew(180deg);
}
*/

.fondo1{
	width: 200px;
	height: 40px;
	background-color: green;
	-webkit-transform:skew(-30deg);
	-ms-transform:skew(-30deg);
	transform:skew(-30deg);
	display: inline-block;
	vertical-align: top;
	margin:10px;
}